ul.notepad {
    list-style:none;
    padding-left: 2px;
}
#left_container {
    float: left;
    width: 50%;
}
#right_container {
    float: right;
    width: 50%;
}
div.notepad.cursor {
    background-color: silver;
}
li.record {
    padding: 4px 8px 4px 8px;
}
li.record.cursor {
    background-color: silver;
}
